{{ template "header.html" }}

<div class="albumpy-4 bg-light">
    <div class="container">
        {{range .videos}}
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <iframe width="300" height="200" src="{{.URL}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                <p class="card-text">
                                    <h4>{{.Title}}</h4>
                                    <p>{{.Description}}</p>
                                </p>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>


{{ template "footer.html" }}